.wrapper {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

header {
    height: 150px;
    border: 2px solid black;
    background: coral;
    align-items: center;
    display: flex;
    justify-content: center;


}

.info {
    display: flex;
    align-items: center;
}

#view_all {

    background: cadetblue;
    border: 2px solid black;
    height: 100px;
    width: 200px;
    box-shadow: 1px -3px 65px -11px rgba(34, 60, 80, 0.92) inset;
}

#view_all:hover {
    border: 3px solid lightskyblue;
    cursor: pointer;
}


#view_all h2 {
    text-align: center;

}

#main {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}


.category_item {
    height: 50px;
    border: 2px solid black;
    background: cornflowerblue;

}

.product {
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #cacaca;
    box-shadow: 3px 2px 3px #cacaca;
    border-radius: 3px;
}

.product .product__title {

}

.product img {
    width: 100%;
    max-width: 200px;
    object-fit: cover;

}

.product .product__price {

}

.product .product__category {

}

#cat_view ul li {
    display: inline-block;
    padding-right: 10px;
}

.cat :hover{
    cursor: pointer;
    color: darkorange;

}